{var $link = $control->getLink()}
{var $modalUrl = $control->getModalUrl()}
{if $link}
	<a href="{plink $link}">
{elseif $modalUrl}
	<a href="{$modalUrl|noescape}" data-target="#ajax" data-toggle="modal">
{/if}
		<div class="kt-widget24">
			<div class="kt-widget24__details">
				<div class="kt-widget24__info">
					<h4 class="kt-widget24__title">
						{$control->getDescription()}
					</h4>
				</div>

				<span class="kt-widget24__stats kt-font-{$control->getColor()}">
					       {var $prefix = $control->getPrefix()}
					{var $suffix = $control->getSuffix()}
					{if $prefix}
						<small class="kt-font-{$control->getColor()}">{$prefix}</small>
					{/if}
					<span>{$control->getNumber()}</span>
					{if $suffix}
						<small class="kt-font-{$control->getColor()}">{$suffix}</small>
					{/if}
					    </span>
			</div>

			<div class="progress progress--sm">
				<div class="progress-bar kt-bg-{$control->getColor()}" role="progressbar" style="width: {$control->getProgressPercent()}%;" aria-valuenow="{$control->getProgressPercent()}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>

			<div class="kt-widget24__action">
						<span class="kt-widget24__change">
							{$control->getProgressDescription()}
						</span>
				<span class="kt-widget24__number">
							{$control->getProgressPercent()}%
					    </span>
			</div>
		</div>
{if $link or $modalUrl}
	</a>
{/if}
